.tablero{
    display: flex;
    flex-wrap: wrap;
    width: 810px;
    padding: 2px;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.03);
}
.barra{
    border-bottom: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
    margin-bottom: 20px;
}
.titulo{
    color: blueviolet;
}
